/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-12-2019, 15:14:13
    Author     : horac
*/
h1 {
    font-family: roboto, verdana, helvetica;
}
h2 {
    font-family: roboto, verdana, helvetica;
}
h3 {
    font-family: roboto, verdana, helvetica;
}
h4 {
    font-family: roboto, verdana, helvetica;
}
h5 {
    font-family: roboto, verdana, helvetica;
}
h6 {
    font-family: roboto, verdana, helvetica;
}
h7 {
    font-family: roboto, verdana, helvetica;
}
h8 {
    font-family: roboto, verdana, helvetica;
}
p {
    font-family: roboto, verdana, helvetica;
}
span {
    font-family: roboto, verdana, helvetica;
}
blockquote {
    font-family: roboto, verdana, helvetica;
}
button {
    font-family: roboto, verdana, helvetica;
}
a {
    font-family: roboto, verdana, helvetica;
}

form {
    font-family: roboto, verdana, helvetica;
}

input {
    font-family: roboto, verdana, helvetica;
}

select {
    font-family: roboto, verdana, helvetica;
}

.container {
    font-family: roboto, verdana, helvetica;
}
.toast {
    font-family: roboto, verdana, helvetica;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
    div.nav-wrapper.teal {
        background-image: url(../img/LOGO_JUEGO.png);
        background-size: 55%;
        background-attachment: fixed;
        background-position: center top;
        background-repeat: no-repeat;
        margin-top: 10PX;
    }  
} 

@media screen and (min-width: 600px) and (max-width: 640px) {
    div.nav-wrapper.teal {
        background-image: url(../img/LOGO_JUEGO.png);
        background-size: 50%;
        background-attachment: fixed;
        background-position: center top;
        background-repeat: no-repeat;
        margin-top: 10PX;
    }  
}


@media screen and (min-width: 640px) and (max-width: 700px) {
    div.nav-wrapper.teal {
        background-image: url(../img/LOGO_JUEGO.png);
        background-size: 48%;
        background-attachment: fixed;
        background-position: center top;
        background-repeat: no-repeat;
        margin-top: 10PX;
    }  
}

@media screen and (min-width: 700px) and (max-width: 1050px) {
    div.nav-wrapper.teal {
        background-image: url(../img/CABECERA.png);
        background-size: 85%;
        background-repeat: no-repeat; 
        background-attachment: fixed;
        background-position: center top;
    }  
}

@media screen and (min-width: 1050px) {
    div.nav-wrapper.teal {
        background-image: url(../img/CABECERA.png);
        background-size: 56%;
        background-repeat: no-repeat; 
        background-attachment: fixed;
        background-position: center top;
    }  
}


