/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-12-2019, 15:14:13
    Author     : horac
*/
h1 {
    font-family: roboto, verdana, helvetica;
}
h2 {
    font-family: roboto, verdana, helvetica;
}
h3 {
    font-family: roboto, verdana, helvetica;
}
h4 {
    font-family: roboto, verdana, helvetica;
}
h5 {
    font-family: roboto, verdana, helvetica;
}
h6 {
    font-family: roboto, verdana, helvetica;
}
h7 {
    font-family: roboto, verdana, helvetica;
}
h8 {
    font-family: roboto, verdana, helvetica;
}
p {
    font-family: roboto, verdana, helvetica;
}
span {
    font-family: roboto, verdana, helvetica;
}
blockquote {
    font-family: roboto, verdana, helvetica;
}
button {
    font-family: roboto, verdana, helvetica;
}
a {
    font-family: roboto, verdana, helvetica;
}

form {
    font-family: roboto, verdana, helvetica;
}

input {
    font-family: roboto, verdana, helvetica;
}

select {
    font-family: roboto, verdana, helvetica;
}

.container {
    font-family: roboto, verdana, helvetica;
}
.toast {
    font-family: roboto, verdana, helvetica;
}

